<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Car Dealership List!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <form action="/cars" method="post">
    <label for="makeModel">Add make model</label>
    <input id="makeModel" name="makeModel" type="text">
    <br>
    <label for="price">Add price</label>
    <input id="price" name="price" type="text">
    <br>
    <label for="miles">Add miles</label>
    <input id="miles" name="miles" type="text">
    <br>
    <button type="submit">Submit</button>
  </form>
</body>

</html>
