<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Car Dealership Inventory</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  @using CarDealership.Models;

  <h1>Current Inventory</h1>

  @if (Model.Count == 0)
  {
    <p>You have no cars listed</p>
  }
  <ul>
    @foreach (Car car in Model)
    {
      <li>@car.MakeModel</li>
      <ul>
        <li>Miles: @car.Miles</li>
        <li>Price($): @car.Price</li>
      </ul>
    }
  </ul>
  <a href="/cars/new">Add a new car</a>
</body>

</html>